.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#e5e5e5;
}


.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background-color: #e5e7b9;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;

}



.main_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.main_frame .left_1 .left_image {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.main_frame .left_image .left_title{
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #2B2B2B;
}




.main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;

    border: 1.5px solid #f0f0f6
}

.main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    /* background-color: aqua; */
    
}


.main_frame .left_frame .left_par {
    position: relative;
    Width: 147.84px;
    Height: 24.31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: "calt"off, "kern", off;
    color: rgb(118, 118, 118);

}

.left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    Width: 24.99px;
    Height: 21.61px;
    border-radius: 50%;
    filter: drop-shadow(0 4x 4px rgb(0, 0, 0, 0.25));
    /* background: #ffb400;   */
}

.icon_1 {
    /* position: relative; */
    left: 25.17%;
    right: 27.08%;
    margin-top: 4.86px;
}


.main_frame .left_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    /* background-color: red; */
}

/* .main_frame .left_frame .left_2  .left_container {
    display: flex;
    flex-direction: row;
} */

.main_frame .left_frame .left_2 .left_container {
    /* position: relative; */
    width: 221px;
    height: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
}

.main_frame .left_frame .left_2  .left_age {
    position: relative;
    width: 33px;
    height:24px;
    font-size: 15px;
    background-color: #ffb400;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left_num {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.main_frame .left_frame .left_2 .left_residence {
    position: relative;
    width: 89px;
    height:24px;
    margin-bottom: 5px;
    background-color: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_resi {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_frame .left_frame .left_2 .left_freelance {
    position: relative;
    width: 85px;
    height:24px;
    margin-bottom: 5px;
    background-color: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left_status {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    Font: sans-serif;
    Font-weight: 400;
    Font-size: 15px;
    Letter-spacing: 0%;
    text-align: right;
    color: rgb(126, 185, 66);
    /* text-shadow: 2px 1px 20px #888888; */

}

.main_frame .left_frame .left_2 .left_address {
    position: relative;
    width: 75px;
    height:24px;
    margin-bottom: 5px;
    background-color: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_add {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
   
    /* background-color: red; */
}

.main_frame .left_frame .left_3 .lan_main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: rgb(118, 118, 118)   ;
}


.main_frame .left_frame .left_3 .left_languages {
    position: relative;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    Width: 95px;
    Height: 22px;
    Font: sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-size: 18px;
    letter-spacing: 0%;
    text-align:left;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center */
    color: black;
}
.main_frame .left_frame .left_3 .left_languages .lang1 {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0%;
    align-items: left;
    color: rgb(118, 118, 118);
}
.main_frame .left_frame .left_3 .left_languages .lang2 {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0%;
    align-items: left;
    color: rgb(118, 118, 118);

}
.main_frame .left_frame .left_3 .left_languages .lang3 {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0%;
    align-items: left;
    color: rgb(118, 118, 118);

}

.main_frame .left_frame .left_3 .left_languages .left_percentage {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0%;
    color: rgb(118, 118, 118);
}

.main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 2  5px;
    margin-left: 45px;
    /* background-color: red; */
}
.main_frame .left_frame .left_4 .skills {
    position:relative;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    letter-spacing: 0%;
    align-items: left;
    margin-bottom: 14px;
}

.main_frame .left_frame .html_box {
    position: relative;
    width: 220px;
    height: 24px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
}
.main_frame .left_frame .css_box {
    position: relative;
    width: 220px;
    height: 24px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
    margin-top: 10px;

}

.main_frame .left_frame .javascript_box {
    position: relative;
    width: 220px;
    height: 24px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
    margin-top: 10px;

}

.main_frame .left_frame .nodejs_box {
    position: relative;
    width: 220px;
    height: 24px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
    margin-top: 10px;

}

.main_frame .left_frame .python_box {
    position: relative;
    width: 220px;
    height: 24px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
    margin-top: 10px;
}


.main_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: green; */
}

 .main_frame .left_5 .extra_container {
    position: relative;
    margin-top: 15px;
} 
.main_frame .left_5 .left_extra {
    position: relative;
    width: 94px;
    height: 22px;
    font-family: sans-serif;
    font-weight: 500;
    font: 18px;
    letter-spacing: 0%;
    align-items: left;
    color: black;

}


.main_frame .left_5 .extra-1 {
    /* position: relative;   */
    width: 186px;
    height: 24px;
    display: flex;
    flex-direction: row; 
    /* justify-content: space-between;
    align-items: center; */
    margin-top: 5px;
    color: rgb(118, 118, 118);

}

.main_frame .left_5 .skills-1 {
    margin-left: 15px;
}

.main_frame .marginer1 {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .per_marginer {
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.main_frame .marginer2 {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .per_marginer2 {
    position: relative;
    width: 80%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.main_frame .marginer3 {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .per_marginer3 {
    position: relative;
    width: 60%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.main_frame .html_marginer {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .html-in-marginer {
    position: relative;
    width: 90%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}
.main_frame .css_marginer {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .css-in-marginer {
    position: relative;
    width: 85%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.main_frame .js_marginer {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .js-in-marginer {
    position: relative;
    width: 80%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.main_frame .node_marginer {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .node-in-marginer {
    position: relative;
    width: 75%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.main_frame .python_marginer {
    position: relative;
    width: 220px;
    height: 2px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .python-in-marginer {
    position: relative;
    width: 85%;
    height: 2px;
    border-radius: 30px;
    background: rgb(255, 180, 0);
}

.midd_frame .midd_top  {
    position: relative;
    width: 971px;
    height: 454.33px;
    top: 3px;
    bottom: 5.76px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.midd_frame .midd_top .midd_left {
    /* Doctor neurologists in OHSU Hospital */
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 499.51px;
    height: 116.74px;
    /* background-color:red; */
    color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    margin-left: 57px
}

.midd_frame .midd_top .midd_title {
    /* Doctor neurologists in OHSU Hospital */
    position: relative;
    width: 499.51px;
    height: 116.74px;  
    margin-top: 99.15px;
    margin-bottom: 0px;
    color: rgb(43, 43, 43);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
}

.midd_frame .midd_top .midd_parag {
    position: relative;
    width: 424.44px;
    height: 85.61px;
    margin-top: 17px;
    margin-bottom: 22.78px;
    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.midd_frame .midd_top .midd_btn {
    position: relative;
    top: 22.78px;
    width: 154px;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    border-radius: 5px;
    background: rgb(255, 180, 0);
}
 .midd_frame .midd_right {
    /* Your Image 1 */
    position: relative;
    width: 326.06px;
    height: 446.63px;
    margin-bottom: 11.76px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.midd_down {
    /* My Services */
    position: relative;
    width: 970px;
    height: 653px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.midd_down .down_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 438px;
    height: 68px;
    /* background-color: green; */
    margin-top: 135.67px;
    margin-bottom: 25px;
}

.midd_down .down_up .midd_service {
    /* my services */
    position: relative;
    width: 193px;
    height: 40px;
    bottom: 7px;
    color: rgb(43, 43, 43);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
}

.midd_down .down_up .midd_text {
    position: relative;
    width: 438px;
    height: 68px;
    margin-top: 0px;
    color: rgb(118, 118, 118);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.midd_bottom {
    width: 970px;
    height: 600px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.midd_down .midd_bottom .develop {
    position: relative;
    display: flex;
    flex-direction: column;
    /* Rectangle 38 */
    width: 310px;
    height: 225px;
    background-color: white;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
}

.advertise {
 /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. */
position: relative;
width: 260px;
height: 78px;
color: rgb(118, 118, 118);
font-family: sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-bottom: 30px;
}

.web_development {
    /* advertising */
    position: relative;
    width: 158px;
    height: 22px;
    color: rgb(43, 43, 43);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.web_development1 {
    /* advertising */
    position: relative;
    width: 99px;
    height: 22px;
    color: rgb(43, 43, 43);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main_frame .right_frame {
    position:relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_frame .right_frame .right_moon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 52px;
    margin-bottom: 177px;
}

.main_frame .right_frame_frame .right_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 177px;
}

.midd_frame .midd_top .midd_yellow {
    position: absolute;
    margin-top: 24.38px;
    margin-left: 39.5px;
}

.midd_frame .midd_top .midd_green {
    position: absolute;
    margin-top: 46.26px;
    margin-left: 519.55px;
}

.midd_frame .midd_top .midd_yellow2 {
    position: absolute;
    margin-top: 63.44px;
    margin-left: 895.37px;
} 

.midd_frame .midd_top .midd_green2 {
    /* Ellipse 16 */
position: absolute;
margin-left: 87.1px;
top: 422.22px;
}

.midd_frame .midd_top .midd_blue {  
    /* Rectangle 52 */
    position: absolute;
    margin-left: 373.4px;
    margin-top: 333.69px;
}

.midd_frame .midd_top .midd_blue2 {
    /* Ellipse 13 */
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    left: 550.45px;
    top: 381.33px;
}

.midd_frame .midd_top .midd_red {
    /* Polygon 1 */
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    margin-left: 900.96px;
    margin-top: 400.09px;
    margin-bottom: 27px;
}

.midd_frame .right_order {
    color: #ffb400;
}
